.galeri{
  overflow: hidden;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.gif{
  width: 200px;
  height: 200px;
  height: auto;
  object-fit: cover;
  display: block;
}
  
